<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>

<body>
  <form action="/upload-processing" method="POST" enctype="multipart/form-data">
    <label>Select image</label>
    <input type="file" name="file" id="file" />
    <button type="submit" onclick="upload()">Upload</button>
  </form>

  <script>
    function upload() {
      var formData = new FormData();
      var imagefile = document.querySelector('#file');
      formData.append("image", imagefile.files[0]);
      axios.post('/upload-processing', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((res) => {
        console.log("done")
      })
    }
  </script>
</body>

</html>